* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  max-height: fit-content;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .App {
    max-height: fit-content;
    max-width: 100%;
  }
}

